.container {
  position: relative;
  width: 600px;
  height: 480px;
  border: solid 1.5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 15px 5px 5px;
  background-color: #fbfbec;
}

.link-to-github {
  color: #613864;
}
.cities {
  list-style-type: none;
  font-weight: 600;
}
.city {
  display: inline;
  padding: 0px 15px 0px;
}

.curent-time {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
}

.temperature {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 22px;
}
.temperature1 {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 22px;
}

.temperature,
.temperature1 {
  text-decoration: none;
  color: #fe4e6e;
}

.between {
  position: absolute;
  top: 50px;
  right: 40px;
  font-size: 22px;
}

.search-city {
  margin: 20px 0px 20px 10px;
  padding: 5px 7px;
  border: 3px solid #fe4e6e;
  border-radius: 5px;
}

button {
  margin: 0px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 3px solid #fe4e6e;
  background-color: white;
}

.search {
  color: #fe4e6e;
  font-size: 20px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-weight: 400;
}

.first {
  padding-left: 30px;
}

.temperature-of-the-day {
  font-size: 48px;
  font-weight: 600;
}

.container-main {
  padding-top: 20px;
}

.name-city {
  font-size: 48px;
}

.forecast {
  padding-top: 30px;
}
