.container {
  position: relative;
  width: 600px;
  height: 530px;
  border: solid 1.5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 15px 5px 5px;
  background-color: #ffffe4;
}

.link-to-github {
  color: #613864;
}
.cities {
  list-style-type: none;
  color: #613864;
  font-weight: 600;
}
.city {
  display: inline;
  padding: 0px 15px 0px;
}

.clock {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 180px;
  width: 100%;
  font-size: 34px;
}

.curent-time {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  color: #613864;
  font-weight: 600;
}

.temperature {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 22px;
}
.temperature1 {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 22px;
}

.temperature,
.temperature1 {
  text-decoration: none;
  color: #fe4e6e;
}

.between {
  position: absolute;
  top: 50px;
  right: 40px;
  font-size: 22px;
}

.search-city {
  margin: 20px 0px 20px 10px;
  padding: 5px 7px;
  border: 3px solid #fe4e6e;
  border-radius: 5px;
}

button {
  margin: 0px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 3px solid #fe4e6e;
  background-color: white;
}

.search {
  color: #fe4e6e;
  font-size: 20px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #613864;
  font-weight: 400;
}

.container-1 {
  border: 5px solid #fe4e6e;
  width: 200px;
  height: 80px;
  position: absolute;
  right: 60px;
  top: 150px;
  border-radius: 5px;
  background-color: white;
}

.temperature-container-1 {
  position: relative;
  left: 10px;
  top: 3px;
  font-size: 48px;
}

.sun {
  position: relative;

  left: 120px;
  bottom: 65px;
  width: 35%;
}

h4 {
  font-size: 17px;
  font-weight: lighter;
  color: #613864;
  font-weight: 400;
}

.editional {
  position: absolute;
  right: 145px;
  top: 240px;
}

.name-city,
h2 {
  padding: 10px 0px -10px 0px;
}

.container-3 {
  margin: 5px;
  padding: 0px 30px;
}

.name-city {
  font-size: 56px;
}
